.fa-plus {
  cursor: pointer;
  color: black !important;
}

.addLink {
  cursor: pointer;
  color: black !important;
}

.fa-cog {
  cursor: pointer;
  color: black !important;
}
.fa-search-plus {
  cursor: pointer;
  color: black !important;
}
