h1{
  text-align: center;
}
.user-container{
  display: flex;
  justify-content: center ;
  flex-direction: column;
  /* border: 1px solid black; */
}
.user-card{
  border: 1px solid black;
}


.col-box{
  display: flex;
  align-items: center;
  border-right: 1px solid black;
}
.user-header{
  height: 10rem;
}
.table-headers{
  text-align: center;
}

.avy {
  max-width: 200px;
}
